﻿.block-root {
    display: -webkit-flex;
    display: flex;
    max-width: 1280px;
    margin: 32px auto 16px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.31);
}

.block-side {
    width: 280px;
    border-right: 1px solid #d6d6d6;
    background-color: #fff;
    overflow: hidden;
}

.block-body {
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    background-color: #fafafa;
    border-bottom: 1px solid #d8d8d8;
}
