﻿#file_upload_form {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    padding: 10px;
    background-image: -webkit-linear-gradient(left,rgb(102,102,255),rgb(153,153,255));
    border-radius: 10px;
    text-align: center;
}

#file_upload_title {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#file_upload_input_div {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: beige;
    border-radius: 5px;
}
