﻿body {
    background-image: -webkit-linear-gradient(left,rgb(57,49,175),rgb(0,198,255));
    position: relative;
}

#login_form{
    background-color: #f8f9fa;
    position: relative;
    margin-top: 100px;
    left: 50%;
    width: 500px;
    height: 600px;
    box-shadow: 10px 10px 10px #2084b6;
    border-radius: 5px;
    text-align: center;
}

#login_form_title{
    margin-top: 50px;
    margin-bottom: 10px;
    float:left;
    margin-left: 30px;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 2px gray;
}

.login_input_form {
    background-color: #f8f9fa;
    height: 80px;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: gray;
}

input.login_input_form:focus {
    border-bottom-color: black;
    outline: none;
}

.login_button_form {
    width: 85%;
    height: 50px;
    border-radius: 5px;
}

.login_check_form{
    margin-bottom: 30px;
}

#signup_div{
    margin-top: 20px;
}
