﻿body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

#signup_form {
    background-color: #f8f9fa;
    width: 500px;
    height: 800px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #2084b6;
    border-radius: 5px;
    padding: 20px 30px;
}

.signup-title-form{
    font-weight: 700;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.form-control{
    height: 50px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}