﻿<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/base.css" />
</head>
<body>
<div class="block-root" style="max-width: 1440px">
    <div class="block-side">
        <ul class="side-list">
            <li class="list-item">
                <a href="#">test</a>
            </li>
        </ul>
    </div>
    <div class="block-body">
        @await Html.PartialAsync((string)ViewData["main"])
    </div>
</div>
</body>
</html>
