﻿@using InternWebServer.Models
@model IEnumerable<SignUpModel>

@{ 
    Layout = "_Layout";
    ViewData["title"] = "DB Test";
}

<h2>MySQL SELECT 결과</h2>
<ul>
    @foreach(var data in Model)
    {
        <li>ID : @data.userId < 이름 : @data.userName, 성별 : @data.userGender > </li>
    }
</ul>
<hr />