﻿@{
    Layout = "_LoginAfterLayout";
}
<link rel="stylesheet" type="text/css" href="~/css/fileUpload.css" />
<div id="file_upload_form">
    <p id="file_upload_title">파일 업로드</p>
    <div id="file_upload_input_div">
        <input type="file" id="uploadFile" name="client_file" />
        <button id="uploadButton" class="btn-primary">upload</button>
    </div>    
</div>

<script>
    $(function () {
        $("#uploadButton").click(function () {
            if ($("#uploadFile").val() === "") {
                alert("File is empty.");
                return;
            }
            var formData = new FormData();
            $.each(document.querySelector("#uploadFile").files, function (i, item) {
                formData.append("files", item);
            });
            $.ajax({
                type: "POST",
                url: "Home/UploadFiles",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data === "Success") $("#uploadFile").val("");
                    else alert(data);
                }
            })
        });
    });
</script>