﻿<!Doctype html>
@{ 
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/login.css" />
<div>
    <div id="login_form">
        <form method="post" action="/submit?type=2">
            <div class="login" id="login_form_title">LOG IN</div>
           <div>
                <input class="login_input_form" id="id_form" type="text" name="id" placeholder="아이디 입력" />
            </div>
            <div>
                <input class="login_input_form" id="pw_form" type="password" name="pw" placeholder="비밀번호 입력" />
            </div>
            <div class="login_check_form" style="float:right;margin-right:30px;">
                <input id="remember_check" type="checkbox" />
                <label for="remember_check">아이디 기억하기</label>
            </div>
            <div>
                <button class="login_button_form btn-primary" id="login_button" type="submit"> 로그인 </button>
            </div>
        </form>
        <div id="signup_div">
            <a class="login_sign_up" id="signup" href="/signup">회원가입</a>
        </div>
        <div id="signup_div">
            <a class="login_sign_up" id="signup" href="/TwitchTest">TwitchAPITest</a>
        </div>
    </div>
</div>
