﻿@{
    Layout = "_LoginAfterLayout";
}
<div class="selector" >
    <img src="~/ImageTemp/starrylandscape.jpg" alt="demo">
</div>

<style>
    .selector img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>