﻿@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/signup.css"/>
<div id="body_div">
    <form id="signup_form" method="post" action="/submit?type=1">
        <div>
            <div class="signup-title-form">회원 가입</div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="아이디" type="text" name="userId">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="비밀번호" type="password" name="userpw">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="비밀번호 확인" type="password" name="userpw2">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="이름" type="text" name="username">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="생일" type="text" name="userbirth">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="이메일" type="email" name="useremail">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input class="form-control" placeholder="휴대전화 번호" type="text" name="userphone">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <select class="form-control" name="usergender">
                <option selected="">성별</option>
                <option value="m">남자</option>
                <option value="f">여자</option>
            </select>
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" id="signup_button"> Create Account  </button>
        </div> <!-- form-group// -->
        <div>
            <span style="color:red;">@ViewData["result"]</span>
            <a href="/login" style="float:right">로그인</a>
        </div>
    </form>
</div>