﻿@{
    Layout = "_LoginAfterLayout";
}
<style>
    #body_div {
        display: flex;
        height:100%;
        margin: 20px 40px;
    }
    #input_form{
        display: flex;
    }
    #input_btn{
        margin-left: -1px;
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
    }
    #input_text{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #left_div {
        width: 50%;
        height: 100%;
        padding: 20px 20px;
        text-align: center;
    }

    #right_div {
        width: 50%;
        height: 100%;
    }

    .card {
        background: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        flex-direction: row;
        text-decoration: none;
        color: #444;
        position: relative;
        top: 0;
        transition: all .1s ease-in;
    }

    .card:hover {
        top: -2px;
        box-shadow: 0 4px 5px rgba(0,0,0,0.2);
        text-decoration-color: blue;
        text-decoration-line: none;
    }

    .band {
        padding: 10px 20px;
    }

    .thumb {
        width: 300px;
        height: 300px;
    }
</style>
<div class="" id="body_div">
    <div id="left_div">
        <div style="margin: 20px 10px;">
            <div>
                <p style="font-size:40px;">스케줄링에 추가할 스트리머 검색.</p>
            </div>
            <form id="input_form">
                <input type="text" class="form-control" id="input_text" />
                <button class="btn btn-primary" id="input_btn"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div>
            <div class="band">
                <div>
                    <a onclick="" class="card">
                        <div class="thumb" style="background-color:aqua;"></div>
                        <article style="margin-top: 50px; margin-left:50px">
                            <h1 style="font-size:50px; font-family:NanumBarunpen">테스트</h1>
                            <div style="font-size:25px; font-family:NanumSquare;">
                                <p>구독자 수 : 하나 둘 셋</p>
                                <p>방송 여부 : 방송중</p>
                                <p>방송 타이틀 : 점</p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="band">
                <div>
                    <a onclick="" class="card">
                        <div class="thumb" style="background-color:aqua;"></div>
                        <article style="margin-top: 50px; margin-left:50px">
                            <h1 style="font-size:50px; font-family:NanumBarunpen">테스트</h1>
                            <div style="font-size:25px; font-family:NanumSquare;">
                                <p>구독자 수 : 하나 둘 셋</p>
                                <p>방송 여부 : 방송중</p>
                                <p>방송 타이틀 : 점</p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="band">
                <div>
                    <a onclick="" class="card">
                        <div class="thumb" style="background-color:aqua;"></div>
                        <article style="margin-top: 50px; margin-left:50px">
                            <h1 style="font-size:50px; font-family:NanumBarunpen">테스트</h1>
                            <div style="font-size:25px; font-family:NanumSquare;">
                                <p>구독자 수 : 하나 둘 셋</p>
                                <p>방송 여부 : 방송중</p>
                                <p>방송 타이틀 : 점</p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="right_div">
        <table class="table">
            <thead>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>testttest</td>
                    <td>testttest</td>
                    <td>testttest</td>
                    <td>testttest</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>