﻿@using Newtonsoft.Json.Linq;
@{
    Layout = "_LoginAfterLayout";
    string client_id = (string)ViewData["cid"];
    string access_token = (string)ViewData["at"];
    string paging = String.Empty;
}
<div class="container" style="text-align:center;">
    <p style="font-size: 50px; font-family:NanumBarunpen; margin-top:20px;">스트리머 검색</p>
    <div class="input-group" style="margin-top: 20px;">
        <input class="form-control" type="text" placeholder="스트리머 명 입력" aria-label="Search" aria-describedby="basic-addon2" id="StreamerSearchInput" />
        <div class="input-group-append">
            <button class="btn btn-info" type="submit" id="StreamerSearchBtn"><i class="fas fa-search"></i></button>
        </div>
    </div>

    <div id="showSearchResult">
        <div>
            <p style="font-size:40px; font-family:Nanum Gothic Coding; margin-top:20px;" id="TextStreamerName"></p>
        </div>

        <div>
            <p style="font-size:40px; font-family:Nanum Gothic Coding; margin-top:20px;" id="TextStreamerFollowCount"></p>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-warning">
                    <td>번호</td>
                    <td>팔로워 아이디</td>
                    <td>팔로워 닉네임</td>
                    <td>팔로우 날짜</td>
                </tr>
            </thead>
            <tbody id="tablebody">
            </tbody>
        </table>

        <nav aria-label="Page navigation example" style="float:right;">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" id="PaginationPre" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" id="PaginationNext" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <script>
        var paging = "";
        var streamerId = -1;
        $(document).ready(function () { $('#showSearchResult').hide(); })

        $.SetTable = function (followerList) {
            while ($('#tablebody')[0].firstChild)
                $('#tablebody')[0].removeChild($('#tablebody')[0].lastChild);

            $.each(followerList["data"], function (index, item) {
                var row = "<tr><td>" + ((correntIndex*20) + index + 1).toString() + "</td><td>" + item["from_id"] + "</td><td>" + item["from_name"] + "</td><td>" + item["followed_at"] + "</td></tr>";
                $('#tablebody').append(row);
            });
        }

        $('#StreamerSearchBtn').click(function () {
            var StreamerName = $('#StreamerSearchInput').val();
            if (StreamerName == "") alert("스트리머 이름을 입력해 주세요.");
            else {
                var usingurl = "https://api.twitch.tv/helix/search/channels?query=" + StreamerName.toString();
                $.ajax({
                    url: usingurl,
                    type: "GET",
                    headers: {
                        "Client-ID": "@client_id",
                        "Authorization" : "Bearer " + "@access_token"
                    }
                })
                    .done(function (channel) {
                        streamerId = channel["data"][0]["id"];
                        if (streamerId == -1) return false;
                        usingurl = "https://api.twitch.tv/helix/users?id=" + streamerId.toString();
                        $.ajax({
                            url: usingurl,
                            type: "GET",
                            headers: {
                                "Client-ID": "@client_id",
                                "Authorization": "Bearer " + "@access_token"
                            }
                        })
                            .done(function (streamer) {
                                usingurl = "https://api.twitch.tv/helix/users/follows?to_id=" + streamerId.toString();
                                $.ajax({
                                    url: usingurl,
                                    type: "GET",
                                    headers: {
                                        "Client-ID": "@client_id",
                                        "Authorization": "Bearer " + "@access_token"
                                    }
                                })
                                    .done(function (follower) {
                                        $('#TextStreamerName').text("< 검색된 스트리머 명 : " + streamer["data"][0]["display_name"].toString() + " >");
                                        $('#TextStreamerFollowCount').text("< 팔로우 수 : " + follower["total"] + " >");
                                        pageArray = [follower];
                                        correntIndex = 0;
                                        $.SetTable(follower);
                                        $('#showSearchResult').show();
                                        paging = follower["pagination"]["cursor"];
                                    })
                            })
                    })
            }
        })

        $('#PaginationPre').click(function () {
            if (correntIndex - 1 > -1) {
                correntIndex -= 1;
                $.SetTable(pageArray[correntIndex]);
            }
        })

        $('#PaginationNext').click(function () {
            correntIndex += 1;
            if (correntIndex < pageArray.length) { 
                $.SetTable(pageArray[correntIndex]);
            }
            else {
                usingurl = "https://api.twitch.tv/helix/users/follows?to_id=" + streamerId.toString() + "&after=" + paging.toString();
                $.ajax({
                    url: usingurl,
                    type: "GET",
                    headers: {
                        "Client-ID": "@client_id",
                        "Authorization": "Bearer " + "@access_token"
                    }
                })
                    .done(function (afterfollwer) {
                        $.SetTable(afterfollwer);
                        pageArray.push(afterfollwer);
                        paging = afterfollwer["pagination"]["cursor"];
                    })
            }
        })

        $('#StreamerSearchInput').keypress(function (event) {
            if (event.which == 13) {
                $('#StreamerSearchBtn').click();
                return false;
            }
        })
    </script>
</div>