﻿@{
    Layout = "_LoginAfterLayout";
}
<style>
    .searchbar {
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 50px;
    }

    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        line-height: 40px;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input {
        padding: 0 10px;
        width: 450px;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon {
        background: white;
        color: #e74c3c;
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: black;
        text-decoration: none;
    }

    #search_title {
        font-family: 'Nanum Pen Script';
        font-size: 60px;
        margin: 30px 0px;
    }

    /* card */

    .card {
        background: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        flex-direction: row;
        text-decoration: none;
        color: #444;
        position: relative;
        top: 0;
        transition: all .1s ease-in;
    }

        .card:hover {
            top: -2px;
            box-shadow: 0 4px 5px rgba(0,0,0,0.2);
            text-decoration-color: blue;
            text-decoration-line:none;
        }

    .band {
        padding: 10px 20px;
    }

    .thumb {
        width: 300px;
        height: 300px;
        
    }

</style>

<div class="container">
    <div style="text-align:center">
        <p id="search_title">검색하고 싶은 스트리머를 입력하세요!</p>
    </div>
    <div class="d-flex justify-content-center">
        <form class="searchbar" method="post" action="/submit?type=11">
            <input class="search_input" type="text" name="streamerName" placeholder="Search...">
            <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
@{
    if ((bool)ViewData["IsSearch"])
    {
        <div style="height:100%">
            <div class="band">
                <div>
                    <a href="@ViewData["BSite"]" target="_blank" class="card">
                        <div class="thumb" style="background-image: url(@ViewData["StreamerImg"]);"></div>
                        <article style="margin-top: 50px; margin-left:50px">
                            <h1 style="font-size:50px; font-family:NanumBarunpen">@ViewData["StreamerId"]</h1>
                            <div style="font-size:25px; font-family:NanumSquare;">
                                <p>구독자 수 : @ViewData["followerCount"]</p>
                                @if ((bool)ViewData["IsBroadCast"])
                                {
                                    <p>방송 여부 : 방송중</p>
                                    <p>방송 타이틀 : @ViewData["BTitle"]</p>
                                }
                                else
                                {
                                    <p>방송 여부 : 방종</p>
                                    <p>최근 방송 타이틀 : @ViewData["BTitle"]</p>
                                }

                            </div>
                        </article>
                    </a>
                </div>
            </div>
        </div>
    }
}
<script>

    //안씀
    var name = $("#streamerName").val();
    var SearchStreamer = function () {
        $.ajax({
            url: "/submit?type=11",
            data: { streamerName: name },
            async: false,
            type: "GET",
        })
            .done(function(){
                location.reload();
            })
    }
</script>